*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #fff
}
html,body{
    height: 100%;
    width: 120%;
}

body{
    background-color: rgb(15, 47, 47);
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    height: 450px;
    width: 280px;
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid black;
    position: relative;
}

#storiyan{
    height: 70px;
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid #dadada;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#storiyan::-webkit-scrollbar{
    display: none;
}

.story{
    height: 50px;
    width: 50px;
    background-color: antiquewhite;
    border-radius: 50%;
    border: 2px solid red;
    overflow: hidden;
    display: inline-block;
    margin-right: 4px;
}

.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

#full-screen{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}